:root {
  --color0: #f8d7da;
  --color1: #f5c6cb;
  --color2: #ffeeba;
  --color3: #c3e6cb;
  --color4: #81c784;
  --color5: #2e7d32;

  --solid-border: 2px solid black;
  --dashed-border: 2px dashed black;
}

table {
  border-collapse: collapse;
  width: 100%;
}

th,
td {
  padding: 10px;
  text-align: center;
}

.available-0 {
  background-color: var(--color0);
}

.available-1 {
  background-color: var(--color1);
}

.available-2 {
  background-color: var(--color2);
}

.available-3 {
  background-color: var(--color3);
}

.available-4 {
  background-color: var(--color4);
}

.available-5 {
  background-color: var(--color5);
  color: white;
}

.sharp td {
  border-bottom: var(--solid-border);
}

.half td {
  border-bottom: var(--dashed-border);
}

#legend {
  margin-top: 20px;
}

#legend-gradient {
  width: 300px;
  height: 20px;

  background-image: linear-gradient(
    to right,
    var(--color0) 0%,
    var(--color0) 16%,
    var(--color1) 16%,
    var(--color1) 32%,
    var(--color2) 32%,
    var(--color2) 48%,
    var(--color3) 48%,
    var(--color3) 64%,
    var(--color4) 64%,
    var(--color4) 80%,
    var(--color5) 80%,
    var(--color5) 100%
  );
}