#email{padding: 50px;
margin-top:50px;
width:500px;
border:2px solid white;
box-sizing: border-box;
color: blanchedalmond;
background-color: black;
}
#confidential , #top-secret{display: inline-block;
padding: 50px;
margin-left:50px;
border:2px;
transform: rotate(15deg);
}
.blurred{filter: blur(3px);}