body{font-size:24px;
background-color: #F5F2E8;
}
.newspaper{font-family: Open Sans, sans-serif;
font: size 16px;}
.name{font-size: 2em;
font-family: 'Times New Roman', Times, serif;
}
.name .author{text-transform: uppercase;}
.headline{font-size: 2em;
font-weight: bold 
;
}
.headline {
  font-size: 2em;
  font-weight: bold;
}

.sub-headline {
  font-weight: 100;
  font-size: 1.5em;
  font-style: italic;
}

.author {
  font-weight: bold;
}

.text {
  text-indent: 20px;
  line-height: 2em;
}

.text::first-letter {
  font-weight: bold;
  font-size: 2em;
}