.pricing-container {display:flex; flex-wrap : wrap;}
.pricing-card{display: flexbox;
justify-content: space-between;
flex:0 0 200px;
border:2px solid black;
}
.basic-plan{order:1;}
.pro-plan{order:2;
flex-grow:2;}
.premium-plan{order:3;}